/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-mar-2019, 15:24:58
    Author     : cetecom
*/

#contenedor{
    width:100%;
}
#titulo{
    width:100%;
    height: 80px;
    float: left;
    background: red;
}
#menu{
    width: 30%;
    height: 500px;
    float: left;
    background: green;
}
#contenido{
   width: 70%;
   height: 500px; 
   float: left;
   background: yellow;
}